.laying-pattern {
  max-width: 800px;
  padding-top: 64px;
  padding-bottom: 24px;
}

.laying-pattern-footer {
  padding-top: 24px;
  padding-bottom: 64px;
}

.laying-pattern-footer .coh-style-primary-button-with-millboard-green-bg {
  margin: 0 auto;
}

.laying-pattern .coh-style-green-dash {
  margin: 0 auto;
}

.Linear-slider,
.contour-slider {
  max-width: 1100px;
  display: none;
}

@media (max-width: 767px) {
  .Linear-slider .slider-for .slick-track,
  .contour-slider .slider-for .slick-track {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .Linear-slider .slider-for .slick-track,
  .contour-slider .slider-for .slick-track {
    height: 500px;
  }
}

@media (min-width: 1232px) {
  .Linear-slider .slider-for .slick-track,
  .contour-slider .slider-for .slick-track {
    height: 550px;
  }
}

.slider-for {
  margin-bottom: 10px;
}

.slider-for .slick-slide img {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  object-position: center;
}

.slider-nav {
  margin-top: 10px;
}

.slider-nav .slick-slide {
  margin: 5px;
}

.slider-nav .slick-slide img {
  width: 100px;
  max-width: 100%;
  height: 100px;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.slider-nav .slick-prev:before {
  font-weight: 400;
  text-transform: none;
  speak: none;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f060" !important;
  font-family: icomoon;
  color: #000;
}

.slider-nav .slick-next:before {
  font-weight: 400;
  text-transform: none;
  speak: none;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f061" !important;
  font-family: icomoon;
  color: #000;
}

.slider-nav .slick-prev.slick-disabled:before,
.slider-nav .slick-next.slick-disabled:before {
  opacity: 1;
}
