.order-sample-card .order_sample_card_content {
  align-items: flex-start;
  position: relative;
  background-color: #fcfbf8;
  padding: 10px 0;
}

.order-sample-card .order_sample_card_content .order_sample_card_type {
  font-size: 16px;
  font-family: 'f37_gingerlight';
  letter-spacing: 0px;
  text-transform: capitalize;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .order-sample-card .order_sample_card_content .order_sample_card_type {
    font-size: 25px;
    font-family: 'f37_gingerlight';
    letter-spacing: 0px;
    text-transform: capitalize;
    margin-bottom: 0;
  }
}

.order-sample-card .order_sample_card_content .order_sample_card_title {
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: capitalize;
  margin: 0;
}

@media (min-width: 1024px) {
  .order-sample-card .order_sample_card_content .order_sample_card_title {
    font-size: 25px;
    letter-spacing: 0px;
    text-transform: capitalize;
    margin: 0;
  }
}

.order-sample-card .order_sample_card_content .info::after {
  content: "i";
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 15px;
  line-height: 1.1;
  cursor: pointer;
}

.order-sample-card.selected .order_sample_card_image {
  border: 5px solid #799513;
  padding: 5px;
  position: relative;
}

.order-sample-card.selected .order_sample_card_image::after {
  position: absolute;
  top: -20px;
  left: 10px;
  right: 0;
  bottom: 0;
  content: "";
  background-image: url(/themes/custom/millboard/svg/check-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  pointer-events: none;
}

.order-sample-card.disable .order_sample_card_image {
  opacity: 0.7;
  /* pointer-events: none;
    */
}

.model-sample-body .basket-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.model-sample-body .dec-text {
  font-size: 14px;
  line-height: 32px;
  margin-top: 30px;
  text-transform: uppercase;
}

.model-sample-body .error-message {
  position: fixed;
  width: 70%;
  left: 15%;
  right: 15%;
  top: 10%;
  background-color: #799513;
  color: #fff;
}

.model-sample-body .error-message .err-msg-text-basket {
  padding-right: 20px;
}

.model-sample-body .error-message::before {
  content: "";
  background: url(/themes/custom/millboard/images/Excalmatry.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px;
  height: 58px;
  width: 58px;
  display: block;
}

.model-sample-body .error-dismiss {
  position: absolute;
  right: 16px;
  background-image: url(/themes/custom/millboard/svg/close-icon-sidemenu.svg);
  width: 20px;
  height: 20px;
  font-size: 0;
  cursor: pointer;
  filter: invert(1);
}

.coh-style-basket-card-style .product-left {
  position: relative;
}

.coh-style-basket-card-style .product-left .product-remove {
  margin: 0;
  padding: 0px;
  height: 0px;
}

.coh-style-basket-card-style .product-left .product-remove .remove-from-basket-btn {
  font-size: 0;
}

.coh-style-basket-card-style .product-left .product-remove .remove-from-basket-btn::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  right: -10px;
  top: -3px;
  background-image: url(/themes/custom/millboard/svg/close-icon-sidemenu.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
}

.coh-style-basket-card-style .product-right {
  display: none;
}

.coh-style-basket-card-style .product-image img {
  object-fit: cover;
  height: 49px;
  width: 49px;
  margin-top: 9px;
  margin-left: 9px;
  transform: scale(1.09);
}

@media (min-width: 480px) {
  .coh-style-basket-card-style .product-image img {
    height: 60px;
    width: 60px;
    transform: scale(1.09);
  }
}

@media (min-width: 1024px) {
  .coh-style-basket-card-style .product-image img {
    width: 65px;
    height: 65px;
    margin-top: 4px;
    margin-right: -3px;
    margin-left: 13px;
  }
}

.coh-style-basket-layout-style .overlay-content {
  max-height: 134px;
}

.coh-style-basket-layout-style #basket-overlay {
  right: 0;
  top: unset;
  height: 134px;
  max-width: 500px;
  background-color: transparent;
  color: #fff;
  width: 100%;
  box-shadow: none;
  z-index: 99;
  max-width: 422px;
}

.coh-style-basket-layout-style #basket-overlay .overlay-content .model-sample-header {
  padding: 15px 22px !important;
  background-color: #414042;
  width: 90%;
  margin: 0 auto;
  border-bottom: none;
}

@media (min-width: 576px) {
  .coh-style-basket-layout-style #basket-overlay .overlay-content .model-sample-header {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #dedcd2 30;
  }
}

.coh-style-basket-layout-style #basket-overlay .overlay-content .model-sample-body {
  background-color: #414042;
  padding: 0 20px !important;
  overflow-y: hidden;
}

.coh-style-basket-layout-style #basket-overlay .overlay-content .modal-sample-footer {
  background-color: #414042;
  padding: 15px 20px !important;
  color: #fff;
  border-top: none;
}

.coh-style-basket-layout-style #basket-overlay .overlay-content .modal-sample-footer .checkout-btn {
  background-color: #799513;
  color: #fff;
}

.coh-style-basket-layout-style #basket-overlay.basket-overlay-visible {
  height: 350px;
  max-width: 422px;
}

.coh-style-basket-layout-style #basket-overlay.basket-overlay-visible .overlay-content {
  max-height: 350px;
}

.coh-style-basket-layout-style #basket-overlay.basket-overlay-visible .model-sample-body {
  display: block;
}

.coh-style-basket-layout-style #basket-overlay.basket-overlay-visible #close-basket-overlay-btn img {
  rotate: 0deg;
}

.coh-style-basket-layout-style #basket-overlay #close-basket-overlay-btn {
  width: 25px;
  height: 25px;
}

.coh-style-basket-layout-style #basket-overlay #close-basket-overlay-btn img {
  filter: invert(1);
  width: 100%;
  rotate: 180deg;
}

@media (min-width: 1024px) {
  .coh-style-basket-layout-style #basket-overlay #close-basket-overlay-btn {
    width: 25px;
    height: 25px;
  }
}

.coh-style-basket-layout-style #basket-overlay .basket-items {
  margin-top: 15px;
  padding-bottom: 78px;
  background-image: url(/themes/custom/millboard/svg/add-product.svg);
  background-repeat: repeat-x;
  background-size: 67px;
  width: 195px;
  height: 27px;
}

@media (min-width: 480px) {
  .coh-style-basket-layout-style #basket-overlay .basket-items {
    background-size: 78px;
    width: 234px;
    height: 27px;
  }
}


@media (min-width: 1024px) {
  .coh-style-basket-layout-style #basket-overlay .basket-items {
    background-size: 85px;
    background-position: 0px -5px;
    width: 249px;
  }
}

.coh-style-basket-layout-style ul.basket-items {
  margin-top: 0;
  padding-bottom: 0;
  width: 260px;
  margin-left: 0;
  margin-right: 0;
}

.coh-style-basket-layout-style ul.basket-items li {
  margin: 0;
  padding: 0;
  border: none;
}

.checkout-basket-wrapper .product-right {
  display: block;
}

.checkout-basket-wrapper .product-left .product-remove {
  display: none;
}

.product-info {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}

.product-info .product-colour {
  width: 50px;
  height: 50px;
}

.product-info a.add-to-basket-btn:hover {
  background-color: #799513;
  color: #fff;
}

.product-info .order_sample_card_type {
  width: 100%;
  border-bottom: 1px solid #414042 33;
  padding-bottom: 15px;
  padding-right: 24px;
}

.product-info.hidden {
  width: 0;
  display: none !important;
}

.product-info.active .order-sample-card {
  height: 100vh;
  background-color: #fcfbf8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-info .order_sample_card_content {
  padding: 40px;
}

.product-info .order_sample_card_content .product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.product-info .order_sample_card_content .product-list .product-colour {
  border-radius: 0;
  cursor: pointer;
}

.product-info .close-pop-up {
  cursor: pointer;
  position: absolute;
  background-color: #000;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  padding: 10px;
}

@media (min-width: 1024px) {
  .product-info .close-pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 0;
    position: relative;
    top: 0;
    right: 0;
  }
}

.product-info .close-pop-up img {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.product-info .order_sample_card_image {
  border: none !important;
  padding: 0px !important;
}

.order_sample_card_real_image img {
  width: 100%;
  height: 100%;
}

.order_sample_group_content .order-sample-cards {
  padding-left: 20px;
  padding-right: 20px;
}

form#order-sample-filters {
  padding-top: 20px;
  background-color: #fcfbf8;
  border-bottom: 1px solid #dedcd2;
  border-top: 1px solid #dedcd2;
}

form#order-sample-filters .product-type-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}


form#order-sample-filters .product-type-wrapper h4 {
  text-transform: capitalize;
  font-size: 20px;
}

form#order-sample-filters .product-type-wrapper .form-checkboxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
}

form#order-sample-filters .product-type-wrapper .form-checkboxes .form-item-product-type-all {
  display: none;
}

.decking,
.cladding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.order-sample-filters .product-view-filter-header {
  text-align: center;
  background-color: #fcfbf8;
  font-size: 14px;
  line-height: 1.7;
  font-family: 'f37_gingerlight';
  padding-top: 35px;
  padding-bottom: 35px;
}

.order-sample-filters .product-view-filter-header h4 {
  margin-top: 25px;
}

.coh-style-order-sample-page .link--cta.sample-request-btn {
  display: none;
}

.lang-en-us .us-hidden {
  display: none;
}

.form-type-select label.label-blurred-empty {
  z-index: 0;
}

.form-type-select .select2-container {
  z-index: 1;
}

.form-type-select.label-blurred-empty .select2-selection__rendered {
  visibility: hidden;
}
