{{ attach_library('millboard_customer_reviews/feefo') }}
<div class="feefo-rating-widget">
    <h3 class="rating-widget__title">{{ 'What our customers are saying'|t }}</h3>
    <div id="feefo-service-review-carousel-widgetId" class="feefo-review-carousel-widget-service"></div>
</div>
